# Dependencies & Logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Archives & Backups
*.zip
*.tar.gz
*.rar
*.7z
backup/
*.bak

# Documents & Personal Files
*.pdf
*.csv
*.docx
*.xlsx
*.sql
*.key
*.pem
