# VS Code settings: ignore everything under .vscode except selected configs
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

node_modules/
.env
data/
build/
build-mingw/
build-ninja/
*.log
compile_output.txt
include/nlohmann/
src/cpp-httplib/
.devcontainer/
